<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <div>
                <div>
                    <img src="" alt="">

                    <button>Editar</button>
                </div>

                <div>
                    <p>Dados Pessoais</p>
                    <span>Seja bem-vindo a plataforma</span>
                </div>
            </div>

            <div>
                <form action="">
                    <div>
                        <input type="text" id="" name="">
    
                        <input type="text" id="" name="">

                        <input type="text" id="" name="">

                        <input type="text" id="" name="">

                        <input type="text" id="" name="">

                        <input type="text" id="" name="">

                        <input type="text" id="" name="">
                    </div>

                    <div>
                        <a href="">Voltar</a>
                    </div>
                </form>
            </div>
        </section>

        <div>
            <p>© Copyright 2023. Todos os direitos reservados.</p>
        </div>
    </main>
</body>
</html>