<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <div>
                <img src="" alt="">

                <span>
                    <p></p>
                </span>
            </div>

            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </section>

        <div>
            <p>© Copyright 2023. Todos os direitos reservados.</p>
        </div>
    </main>
</body>
</html>