<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../assets/styles/bootstrap.css">
    <!-- Nosso estilo -->
    <link rel="stylesheet" href="../../assets/styles/style.css">
    <!-- Icons do Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Icons do FontAwansome -->
    <script src="https://kit.fontawesome.com/687b2e222f.js" crossorigin="anonymous"></script>
    <!-- Icons do boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Alçada do Aluno - Login</title>
</head>
<body>
    <main class="d-flex flex-column justify-content-center align-items-center bg-body-secondary vh-100">
        <section class="d-flex flex-column align-items-center justify-content-center bg-white border border-secondary shadow rounded-4 w-50 h-75">
            <div class="bg-body-secondary rounded-circle p-5">
                <p class="text-center fw-light">LOGO</p>
            </div>

            <div>
                <form action="" class="row">
                    <div class="mb-4">
                        <div class="mb-3">
                            <label for="txtRa" class="form-label">RA:</label>
                            <input type="text" id="txtRa" name="" class="form-control" placeholder="Digite seu RA...">
                        </div>
    
                        <div class="mb-3">
                            <label for="txtSenha" class="form-label">Senha:</label>
                            <input type="password" id="txtSenha" name="" class="form-control" placeholder="Digite sua senha...">
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <a href="./index.html" class="btn btn-danger">Voltar</a>
                        <input type="submit" value="Confirmar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </section>

        <div class="position-absolute bottom-0">
            <p>© Copyright 2023. Todos os direitos reservados.</p>
        </div>
    </main>
</body>
<!-- Jquery -->
<script type="text/javascript" src="../../assets/js/jquery-3.7.1.js"></script>
<!-- Bootstrap javaScript -->
<script type="text/javascript" src="../../assets/js/bootstrap.js"></script>
</html>